Create a new Pet

<form action="create_pet" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="family" placeholder="Family">
  <input type="text" name="zone_caught" placeholder="Zone Caught">
    <input type="text" name="hit_chance" placeholder="Hit Chance">
  <input type="submit" value="Add">
</form>

<br>
<a href="/pets/create_pet">Add a Pet</a>
<a href="/pets/edit_pet">Edit a Pet</a>
<a href="/pets/delete_pet">Delete a Pet :()</a>
