<body>
<div id="battle-pets-background"> </div>
<h1>Welcome to Battle Pets!</h1>

Please sign up or log in to continue!

<p>
  <a href="/users/signup">Sign Up</a>

  <a href="/users/login">Log In</a>
</p>

<img src="https://www.nerdmuch.com/wp-content/uploads/2016/05/battle-pets-mobile-game.jpg" alt="Dogs">

</body>
